@import url(https://fonts.googleapis.com/css?family=Raleway:100,400,700);


body{
	font-family: 'Raleway', sans-serif;
	margin: 0;
}

a{
	text-decoration: none;
	color: white;
}

.wrapper{
	padding: 15px;
	border: solid 2px black;
	max-width: 1200px;
	margin: auto;
	border-radius: 10px;
	background-color: black; 
}

/* HEADER */

.main-header{
	max-width: 1200px;
	margin: auto;
	background-size: cover;	
}

.left-data{
	float: left;
	font-family: inherit;
	max-width: 1200px;
	margin: 0;
	color: gray;
}

.left-data h2{
	font-size: 40px;	
}

.left-data p{
	font-size: 18px;	
}

.left-data i{
	float: left;
	margin: 10px;
}

.fa-facebook-official{
	padding-right: 20px;
}

.fa-linkedin-square{
	padding-right: 20px;
}

.fa-git-square{
	padding-right: 20px;
}

.mail-azul{
	color: blue;
}

.right-image{
	float: right;
	background-image: url(../images/DSC_0016.JPG);
	background-repeat: no-repeat;
	width: 250px;	
	height: 250px;
	background-size: contain;
	margin: 0;
	padding-bottom: 65px;
}

.cleaner{
	clear: both;
}

/* PERFIL */

.perfil{
	max-width: 1200px;
	min-height: 170px;
	margin: auto;
	padding: 20px 20px;
	font-family: inherit;
	color: white;
}

.perfil h3{
	margin: auto;
	padding-bottom: 20px;
	color: gray;
}

/* MANEJO DE PROGRAMAS */

.manejo-de-programas{
	max-width: 1200px;
	min-height: 420px;
	margin-top: 10px;
	padding: 10px;
	font-family: inherit;
	color: white;
}

.manejo-de-programas h3{
	margin: auto;
	padding-bottom: 50px;
	color: gray;
}

.programa{
	width: 25%;
	text-align: center;
	float: left;	
}

.programa h4{
	text-transform: uppercase;
	font-size: 14px;
}

.programa p{
	font-size: 15px;
}

.programa img{
	width: 150px;
}

/* EDUCACION */

.educacion{
	max-width: 1200px;
	min-height: 450px;
	margin-top: 10px;
	padding: 10px 20px;
	font-family: inherit;
	color: white;	
}

.educacion h3{
	margin: auto;
	color: gray;
}

.educacion h4{
	padding-top: 30px;
}

.educacion p{
	text-indent: 40px;
}

.linea-grande{
	border: none;
	border-bottom: solid 1px gray;
}

.linea-chica{
	border: none;
	border-bottom: solid 1px gray;	
}

/* FOOTER */

.footer{
	max-width: 1200px;
	margin: auto;
	font-family: inherit;
}

.footer h3{
	padding: 20px;
	color: gray;
}

.contacto{
	width: 100%;
	bottom: 50px;
	position: relative;
	top: -10px;
}

#left{
	width: 47%;
	float: left;
}

#right{
	width: 47%;
	float: right;
}

#left input{
	display: block;
	border:solid 1px black;
	width: 100%;
	height: 50px;
	font-size: 13px;
	font-family: inherit;
	border-radius: 5px;
	padding: 10px 0;
	float: left;
	background-color: white;
	color: black;
	margin-bottom: 10px;
	box-sizing: border-box;
}

#right textarea{
	display: block;
	border:solid 1px black;
	width: 100%;
	height: 170px;
	font-size: 13px;
	font-family: inherit;
	border-radius: 5px;
	padding: 10px;
	margin: auto;
	float: right;
	background-color: white;
	color: black;
	box-sizing: border-box;
}


#boton-enviar{
	text-align: center;
	margin-top: 30px;
	clear: both;
}

.boton-texto{
	text-align: center;
	border: none;
	text-transform: uppercase;
	width: 20%;
	height: 40px;
	color: #fff;
	background-color: red;
	font-size: 13px;
	font-family: inherit;
	letter-spacing: 2px;
	border-radius: 5px;
}


/* MEDIA QUERIES */

/* MEDIUM */

@media (max-width:800px){

.container, .main-header{
		width: 95%;
}

.programa{
	width: 50%;
}

.perfil h3{
	text-align: center;
}

.manejo-de-programas h3{
	text-align: center;
}

.educacion h3{
	text-align: center;
}

.footer h3{
	text-align: center;
}
}

/* SMALL */

@media (max-width:700px){
.right-image{
	display: none;
}

.linea-chica{
	display:none;
}

.left-data{
	float: none;
	text-align: center;
}

.left-data i{
	float: none;
}

.perfil{
	text-align: center;
}

.manejo-de-programas h3{
	text-align: center;
}

.educacion{
	text-align: center;
}

.footer h3{
	text-align: center;
}

#left{
	width: 100%;	
}

#left input{
	padding-left: 10px;
}

#right{
	width: 100%;
	float: none;
}

#right textarea{
	width: 100%;
	float: none;
}

.contacto{
	margin-left: 2%;
}
}

/* XSMALL */
@media (max-width:420px){
.programa{
	width: 100%;
}
}